.popup {
    display: none !important;
}

a.normal {
    text-decoration: inherit !important;
    color: inherit !important;
    cursor: default !important;
}

#content.neuter {
    background: #efe;
}

.match.neuter {
    color: green;
}

.match.neuter:before {
    content: "(et) ";
}

.tryck {
    visibility: hidden;
}

.lemma.neuter {
    background: #efe;
}

.lemma.neuter .grundform {
    color: green;
}

.lemma.neuter .bojning strong {
    color: green;
}

.lemma.neuter .grundform:before {
    content: "(ett) ";
}

/* DDO */

#content {
    margin: 0 0 0 0 !important;
}

.documentActions {
    display: none !important;
}

.instrumentPanel {
    display: none !important;
}

#cookieInformerBooklet {
    display: none !important;
}
