local.properties
bin/
gen/
build/
*.swp
*.swo
.cache
*.class
.settings
.gradle
testdata/
node_modules/
.idea/
.artifacts/
app/src/test/js/output.html
app/src/test/js/test_output.html
gradle-daemon-jvm.properties
